<div class="container">
    <div class="row">
        <h1><fa-icon  [icon]="faFire"></fa-icon> &nbsp;New Posted Data </h1>
        <div class="col md-6">
            <div class="points">
                <div>3</div>
                <div>Point</div>
            </div>
            <div class="details">
                <div>
                    <a href="www.google.co.in">Google</a>
                    <div>Angular Reddit Tutorial</div>
                </div>
                <div class="vote">
                    <div>Vote</div>
                    <div>Downvote</div>
                </div>
            </div>
        </div>
    </div>
</div>