<h1 class="text-center">Reddit Clone Angular</h1>
<hr>
<div class="container">
  <div class="row">
    <h3>Add a post</h3>
    <div class="col-md-6">
      <div class="title-container mt-2">
        <label for="title">Title</label>
        <input type="text" id="title" class="form-control" #title>
      </div>
      <div class="link-container mt-2">
        <label for="link">Link</label>
        <input type="text" id="link" class="form-control" #link>
      </div>
      <button class="btn btn-success mt-2" (click)="add_article(title, link)">Submit</button>
    </div>
  </div>
</div>
<app-article></app-article>
<router-outlet></router-outlet>
